<!DOCTYPE HTML>
<html>
    <head>
        <title>MyBookDoc</title>
        <style>
            #heading{
                margin:auto;
                width: 500px;
                height: 600px;
                text-align:center;
                background-image: url(PIC2.jpg);
                background-size: cover;
                background-repeat: no-repeat;
            }

            
        </style>
    </head>
    <body>
        <div id="heading">
            <h1 style="font-size: 70px; margin-top: 0px;">The Cherry Blossom</h1>
            <h3 style="font-size: 30px; ">By Lakshiya Rajkumar</h3>
        </div>
    </body>
</html>